/* smartphone styles */

@media only screen and (max-width:374px) {

	.container.theme-light {
		background-image: url('../images/bg-mobile-light.jpg');
		background-repeat: no-repeat;
		background-position: center top;
	}

	.container.theme-dark {
		background-image: url('../images/bg-mobile-dark.jpg');
		background-repeat: no-repeat;
		background-position: center top;
	}

}
