/* desktop styles */

@media only screen and (min-width:375px) {

	.theme-light .container {
		background-image: url('../images/bg-desktop-light.jpg');
		background-repeat: no-repeat;
		background-position: center top;
	}

	.theme-dark .container {
		background-image: url('../images/bg-desktop-dark.jpg');
		background-repeat: no-repeat;
		background-position: center top;
	}

	.remove-todo-btn {
		display: none;
	}

	.todos-filter-mobile {
		display: none;
	}
}
